.swiper-container {
  height: 445px;
}

.slideTeam.swiper-slide-active {
  padding: 0 !important;
  margin: 0 !important;
  width: 980px !important;
  transition: all 0.3s ease-in-out;
  border-radius: 10px !important;
}
.slideTeam.swiper-slide-prev {
  width: 980px !important;
  scale: 0.6;
  transition: all 0.3s ease-in-out;
  filter: blur(6px);
}
.slideTeam.swiper-slide-next {
  width: 980px !important;
  scale: 0.6;
  transition: all 0.3s ease-in-out;
  filter: blur(6px);
}
