@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "open-sans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
  font-weight: 100 900;
}
@font-face {
  font-family: "inter";
  src: url("./assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 100 900;
}

.text {
  font-family: "open-sans";
}

.title {
  font-family: "inter";
}

.ant-select-selector,
.ant-select-focused {
  border: none !important;
}

.ant-select-open {
  border: none !important;
  width: 300px;
}

.active {
  color: #009688;
}
.slick-arrow::before {
  color: black !important;
  display: none !important;
}
.slick-list {
  padding: 0 !important;
}
.slick-track {
  display: flex !important;
  align-items: center !important;
  gap: 70px !important;
}

.showCaseSwiper .swiper-button-prev {
  left: 1080px !important;
  top: 0px !important;
}
.showCaseSwiper .swiper-button-next,
.showCaseSwiper .swiper-button-prev {
  top: 20px !important;
  right: 0 !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color: #009688;
  color: white !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
}

.showCaseSwiper,
.course-swiper,
.testimonial-swiper {
  position: static !important;
}
.swiper-button-disabled {
  background-color: #ecf3f6;
  color: black !important;
}
.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.testimonial-swiper .swiper-pagination,
.course-swiper .swiper-pagination {
  bottom: -50px !important;
  width: 100% !important;
}

.swiper-pagination-bullet-active {
  width: 35px !important;
  border-radius: 10px !important;
  background-color: #009688 !important;
}
.swiper-pagination-bullet {
  transition: all 0.3s ease !important;
}
.swiper-pagination {
  bottom: 20px !important;
  width: 100% !important;
}
.consul-swiper .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
}
.consul-swiper .swiper-pagination-bullet-active {
  background-color: #009688 !important;
}

.course-swiper .swiper-button-prev {
  left: -80px !important;
  top: 400px !important;
}
.course-swiper .swiper-button-next {
  right: -80px !important;
  top: 400px !important;
}
.course-swiper .swiper-button-prev,
.course-swiper .swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color: #009688;
  color: white !important;
}